<section class="section section-components pb-0" id="section-components">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-sm-8">
                <div class="custom-tab-content flex-column flex-md-row">
                    <div class="tab-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <input class="form-control" placeholder="First Name" type="text" (focus)="focus=true" (blur)="focus=false">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="First Name" type="text" (focus)="focus=true" (blur)="focus=false">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
