<section class="section section-components pb-0" id="section-components">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-6">
                <div class="form-group" [ngClass]="{'focused':focus===true}">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                        </div>
                        <input class="form-control" style="height: 58px; font-size:1.25rem;" placeholder="Search" type="text" (focus)="focus=true" (blur)="focus=false">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="form-group" [ngClass]="{'focused':focus===true}">
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                        </div>
                        <input class="form-control" style="height: 58px; font-size:1.25rem;" placeholder="Search" type="text" (focus)="focus=true" (blur)="focus=false">
                    </div>

                </div>

            </div>
            <div class="col-lg-2 col-sm-6">
                <button class="btn btn-0 btn-primary btn-default" type="button">Regular</button>
            </div>

        </div>
        <div class="col-lg-10 mt-5 mt-lg-0">
            <div class="custom-tab-content flex-column flex-md-row">
                <div class="tab-content">
                    <p class="description">
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu
                        stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
                        helvetica.
                        Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                    </p>
                    <p class="description">
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu
                        stumptown aliqua, retro synth master cleanse.
                    </p>
                </div>
            </div>
            <div style="height:20px"></div>
            <div class="custom-tab-content flex-column flex-md-row">
                <div class="tab-content">
                    <p class="description">
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu
                        stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan
                        helvetica.
                        Reprehenderit butcher retro keffiyeh dreamcatcher synth.
                    </p>
                    <p class="description">
                        Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu
                        stumptown aliqua, retro synth master cleanse.
                    </p>
                </div>
            </div>
        </div>
        <!--<table class="col-lg-10">
        <tr style="border: 1px solid black;">
            <td >
                <div class="col-sm-9">
                    <h1 class="mb-0">Argon Design System</h1>
                </div>
            </td>

            <td>
                <div>
                    <h4></h4>
                </div>
            </td>
            <td>
                <div>
                    <h4>Argon</h4>
                </div>
            </td>

        </tr>
        <tr style="border: 1px solid black;">
            <td class="col-sm-9">
                <h1 class="mb-0">Argon Design System</h1>
            </td>
        </tr>
    </table>-->
    </div>
</section>

