<style>
    .zoom {
        /*padding: 50px;
        background-color: green;
        transition: transform .2s;*/ /* Animation */
        /*width: 200px;
        height: 200px;
        margin: 0 auto;*/
    }

        .zoom:hover {
            transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }
</style>

<section class="section section-components pb-0" id="section-components">
    <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group" [ngClass]="{'focused':focus===true}">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                            </div>
                            <input class="form-control" [(ngModel)]="searchText" (keyup.enter)="onSubmit()" placeholder="Search" type="text" (focus)="focus=true" (blur)="focus=false">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="form-group" [ngClass]="{'focused':focus===true}">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                            </div>
                            <input class="form-control" [(ngModel)]="searchText" placeholder="Search" type="text" (focus)="focus=true" (blur)="focus=false">
                        </div>

                    </div>
                </div>
                <div class="col-lg-2">
                    <button class=" col-sm-12 btn btn-search btn-0 btn-primary btn-default" style="margin-top:0px;" (click)="onSubmit()">Search</button>
                </div>

            </div>
            <div class="col-lg-8 mt-5 mt-lg-0">
                <div *ngFor="let vacantion of result">
                    <div class="custom-tab-content flex-column flex-md-row zoom" (click)="goJob(vacantion.id)">
                        <div class="tab-content">
                            <h3>{{vacantion.title}}<span style="float:right;">jklllkj</span></h3>
                            <h6>{{vacantion.wage}}</h6>
                            <h6>{{vacantion.company}}<span style="float:right;">Seatle</span></h6>
                            <p class="description" style="overflow-wrap: break-word; white-space: pre-wrap;">{{vacantion.description}}</p>
                        </div>
                    </div>
                    <div style="height:20px"></div>
                </div>
            </div>
</div>
</section>

