<style>
    .zoom {
        /*padding: 50px;
        background-color: green;
        transition: transform .2s;*/ /* Animation */
        /*width: 200px;
        height: 200px;
        margin: 0 auto;*/
    }

        .zoom:hover {
            transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }
</style>

<section class="section section-components pb-0" id="section-components">
    <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-sm-6">
                    <div class="form-group" [ngClass]="{'focused':focus===true}">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                            </div>
                            <input class="form-control" [(ngModel)]="searchText" style="height: 58px; font-size:1.25rem;" placeholder="Search" type="text" (focus)="focus=true" (blur)="focus=false">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="form-group" [ngClass]="{'focused':focus===true}">
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                            </div>
                            <input class="form-control" [(ngModel)]="searchText" style="height: 58px; font-size:1.25rem;" placeholder="Search" type="text" (focus)="focus=true" (blur)="focus=false">
                        </div>

                    </div>

                </div>
                <div class="col-lg-2 col-sm-6">
                    <button class="btn btn-search btn-0 btn-primary btn-default"  (click)="onSubmit()">Search</button>
                </div>

            </div>
            <div class="col-lg-8 mt-5 mt-lg-0">
                <div *ngFor="let vacantion of result">
                    <div class="custom-tab-content flex-column flex-md-row zoom" (click)="goJob(vacantion.id)">
                        <!--<a [routerLink]="['job']" [queryParams]="{ page:{{ vacantion.id }} }"></a>-->
                        <div class="tab-content">
                            <h3>{{vacantion.title}}<span style="float:right;">jklllkj</span></h3>
                            <h6>{{vacantion.wage}}</h6>
                            <h6>{{vacantion.company}}<span style="float:right;">Seatle</span></h6>
                            <p class="description">{{vacantion.description}}
                        </div>
                    </div>
                    <div style="height:20px"></div>
                </div>
            </div>


            <!--<table class="col-lg-10">
        <tr style="border: 1px solid black;">
            <td >
                <div class="col-sm-9">
                    <h1 class="mb-0">Argon Design System</h1>
                </div>
            </td>

            <td>
                <div>
                    <h4></h4>
                </div>
            </td>
            <td>
                <div>
                    <h4>Argon</h4>
                </div>
            </td>

        </tr>
        <tr style="border: 1px solid black;">
            <td class="col-sm-9">
                <h1 class="mb-0">Argon Design System</h1>
            </td>
        </tr>
    </table>-->
</div>
</section>

