<section class="section section-components pb-0" id="section-components">
    <div class="container">
        <div class="row justify-content-center" *ngIf="!isEditMode">
            <div class="col-lg-8 col-sm-8">
                <div class="custom-tab-content flex-column flex-md-row">
                    <div class="tab-content">
                        <h3>{{resume.firstName}} {{resume.lastName}}</h3>
                        <h4>
                            {{resume.jobTitle}}

                        </h4>
                        <span style="padding-top:2rem;"></span>
                        <h4>EXPERIENCE</h4>
                        <div *ngFor="let workplace of resume.workplaces">
                            <span style="padding-top:2rem;"></span>
                            <h6>
                                <b>Company:</b><span style="padding-left:2rem;">{{workplace.companyName}}</span>
                            </h6>
                            <span></span>
                            <h6>
                                <b>Industry:</b><span style="padding-left:2.5rem;">{{workplace.industry}}</span>
                            </h6>
                        </div>
                        <div>
                            <button class="btn btn-0 btn-primary btn-default" (click)="edit()">EDIT</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" *ngIf="isEditMode && !isAddWorkplace">
            <div class="col-lg-8 col-sm-8">
                <div class="custom-tab-content flex-column flex-md-row">
                    <div class="tab-content py-5 bg-secondary">
                        <div class="row">
                            <div class="col-lg-12">
                                <small class="d-block text-uppercase font-weight-bold mb-3">First Name</small>
                                <div class="form-group">
                                    <input class="form-control" [(ngModel)]="resume.firstName" placeholder="First Name" type="text" (focus)="focus=true" (blur)="focus=false">
                                </div>
                                <small class="d-block text-uppercase font-weight-bold mb-3">Last Name</small>
                                <div class="form-group">
                                    <input class="form-control" [(ngModel)]="resume.lastName" placeholder="Last Name" type="text" (focus)="focus=true" (blur)="focus=false">
                                </div>
                                <small class="d-block text-uppercase font-weight-bold mb-3">Birthday</small>
                                <div class="form-group" [ngClass]="{'focused':focus2===true}">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                        </div>
                                        <input class="form-control datepicker" [(ngModel)]="resume.birthday" placeholder="Select date" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus2=true" (blur)="focus2=false" type="text" autocomplete="off" />
                                    </div>
                                </div>
                                <small class="d-block text-uppercase font-weight-bold mb-3">Job Title</small>
                                <div class="form-group">
                                    <input class="form-control" [(ngModel)]="resume.jobTitle" placeholder="Job Title" type="text" (focus)="focus=true" (blur)="focus=false">
                                </div>
                                <div *ngFor="let workplace of resume.workplaces">
                                    <small class="d-block text-uppercase font-weight-bold mb-3">Company Name</small>
                                    <div class="form-group">
                                        <input class="form-control" [(ngModel)]="workplace.companyName" placeholder="Company Name" type="text" (focus)="focus=true" (blur)="focus=false">
                                    </div>
                                    <small class="d-block text-uppercase font-weight-bold mb-3">Industry</small>
                                    <div class="form-group">
                                        <input class="form-control" [(ngModel)]="workplace.industry" placeholder="Start Date" type="text" (focus)="focus=true" (blur)="focus=false">
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="mb-3">
                                                <small class="text-uppercase font-weight-bold">Start Date</small>
                                            </div>
                                            <div class="form-group" [ngClass]="{'focused':focus2===true}">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                    </div>
                                                    <input class="form-control datepicker" [(ngModel)]="workplace.startDate" placeholder="Select date" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus2=true" (blur)="focus2=false" type="text" autocomplete="off" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-sm-6">
                                            <div class="mb-3">
                                                <small class="text-uppercase font-weight-bold">End Date</small>
                                            </div>
                                            <div class="form-group" [ngClass]="{'focused':focus2===true}">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                    </div>
                                                    <input class="form-control datepicker" [(ngModel)]="workplace.endDate" placeholder="Select date" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus2=true" (blur)="focus2=false" type="text" autocomplete="off" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <small class="d-block text-uppercase font-weight-bold mb-3">DESCRIPTION</small>
                                    <div class="form-group">
                                        <textarea class="form-control col-lg-12"> </textarea>
                                    </div>
                                </div>

                                <div>
                                    <button class="btn btn-0 btn-primary btn-default" style="float: left;" (click)="addWorkplace()">ADD</button>
                                </div>
                                <div>
                                    <button class="btn btn-0 btn-primary btn-default" style="float: right;" (click)="saveAfterEdit()">SAVE</button>
                                </div>
                                <div>
                                    <button class="btn btn-0 btn-primary btn-default" style="float: right; background-color:crimson;" (click)="editCancel()">BACK</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" *ngIf="isEditMode && isAddWorkplace">
            <div class="col-lg-8 col-sm-8">
                <div class="custom-tab-content flex-column flex-md-row">
                    <div class="tab-content py-5 bg-secondary">
                        <div class="row">
                            <div class="col-lg-12">
                                <small class="d-block text-uppercase font-weight-bold mb-3">Company Name</small>
                                <div class="form-group">
                                    <input class="form-control" [(ngModel)]="workplace.companyName" placeholder="Company Name" type="text" (focus)="focus=true" (blur)="focus=false">
                                </div>
                                <small class="d-block text-uppercase font-weight-bold mb-3">Industry</small>
                                <div class="form-group">
                                    <input class="form-control" [(ngModel)]="workplace.industry" placeholder="Start Date" type="text" (focus)="focus=true" (blur)="focus=false">
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="mb-3">
                                            <small class="text-uppercase font-weight-bold">Start Date</small>
                                        </div>
                                        <div class="form-group" [ngClass]="{'focused':focus2===true}">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                </div>
                                                <input class="form-control datepicker" [(ngModel)]="workplace.startDate" placeholder="Select date" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus2=true" (blur)="focus2=false" type="text" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-sm-6">
                                        <div class="mb-3">
                                            <small class="text-uppercase font-weight-bold">End Date</small>
                                        </div>
                                        <div class="form-group" [ngClass]="{'focused':focus2===true}">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                </div>
                                                <input class="form-control datepicker" [(ngModel)]="workplace.endDate" placeholder="Select date" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (focus)="focus2=true" (blur)="focus2=false" type="text" autocomplete="off" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <small class="d-block text-uppercase font-weight-bold mb-3">DESCRIPTION</small>
                                <div class="form-group">
                                    <textarea class="form-control col-lg-12"> </textarea>
                                </div>
                                <div>
                                    <button class="btn btn-0 btn-primary btn-default" style="float: left; background-color:crimson;" (click)="backToEditMode()">BACK</button>
                                </div>
                                <div>
                                    <button class="btn btn-0 btn-primary btn-default" style="float: right;" (click)="saveAddWorkplace()">SAVE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>