<section class="section section-components pb-0" id="section-components">
    <div class="container">
        <div class="custom-tab-content flex-column flex-md-row">
            <div class="tab-content">
                <h3>{{resume.firstName}}</h3>
                <h6>{{resume.lastName}}</h6>
                <h6>
                    {{resume.birthday}}
                </h6>
                <h6>
                    {{resume.jobTitle}}
                </h6>
                <h6>
                    {{resume.companyName}}
                </h6>
            </div>
        </div>
    </div>
</section>